[flake8]
ignore = D205, D400, ANN101, ANN002, ANN003
inline-quotes = "
max-line-length = 88
import-order-style = pep8
application-import-names =
  cool_seq_tool
  tests
exclude =
  .git
  venv
  __pycache__
  source
  outputs
  docs/*
  build/*
  codebuild/*
per-file-ignores =
    tests/*:ANN001, ANN2
    *__init__.py:F401
    *cool_seq_tool/schemas.py:ANN001, ANN201
    *cool_seq_tool/version.py:D100
