[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
asyncpg = "*"
boto3 = "*"
pyliftover = "*"
pandas = "*"

[dev-packages]
uta_tools = {editable = true, path = "."}
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
pytest-cov = "*"
coveralls = "*"
jupyterlab = "*"
pytest-asyncio = "*"
ipython = "*"
